@charset "UTF-8";
/* Imports */
.carousel-inner img {
  border: 2px solid black;
  border-radius: 50px; }

/* colores */
/* Breakpoints */
/* Resetar valores de margin y padding */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

/* Formato al header */
.encabezado {
  background-color: black; }
  .encabezado div {
    display: flex;
    justify-content: center;
    align-items: center; }
    .encabezado div a img {
      width: 120px;
      padding: 1rem; }

/* NAVBAR */
.navbar {
  background-color: black !important; }

/* Formato a la portada */
.banner .banner_home, .banner .banner_menu, .banner .banner_promos, .banner .banner_galery, .banner .banner_reservation, .banner .banner_contact {
  background: linear-gradient(black, #ffbf00); }
  .banner .banner_home h1, .banner .banner_menu h1, .banner .banner_promos h1, .banner .banner_galery h1, .banner .banner_reservation h1, .banner .banner_contact h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media (max-width: 992px) {
      .banner .banner_home h1, .banner .banner_menu h1, .banner .banner_promos h1, .banner .banner_galery h1, .banner .banner_reservation h1, .banner .banner_contact h1 {
        font-size: 2em; } }

/* Formato a la sección ¿Quiénes Somos? */
.who {
  margin: 30px;
  padding: 10px;
  border-bottom: solid #8b9095 1px; }
  .who h2 {
    font-size: 2em;
    font-weight: bold;
    color: #ffbf00; }
  .who p {
    font-size: 1.25em;
    color: #000; }
    .who p a {
      text-decoration: none;
      color: #000;
      font-weight: bold; }
    .who p a:hover {
      color: #ffbf00; }

/* Formato a la sección Más Información */
.more_info {
  font-size: 2em;
  font-weight: bold;
  color: #ffbf00;
  margin: 30px;
  padding: 10px; }

.recursos .mapa {
  height: 50vh;
  border: 2px solid black;
  border-radius: 20px; }

.recursos .alianza {
  height: 50vh;
  border: 2px solid black;
  border-radius: 20px; }

.recursos .video {
  height: 50vh;
  border: 2px solid black;
  border-radius: 20px; }

/* Formato a la sección Nuestros Clientes*/
.customers {
  font-size: 2em;
  font-weight: bold;
  color: #ffbf00;
  margin: 30px;
  padding: 10px;
  border-top: solid #8b9095 1px; }

/* Página Menú */
.digital {
  padding: 0 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; }
  .digital h2 {
    color: #ff7300;
    padding-bottom: 20px;
    display: flex;
    justify-content: center; }
  .digital img {
    background-color: #fff9cf;
    border-radius: 50px;
    border: solid 5px black;
    display: flex;
    justify-content: center;
    width: 300px;
    animation-name: fondo;
    animation-duration: .6s;
    animation-iteration-count: 3; }

@keyframes fondo {
  0% {
    background-color: black; }
  25% {
    background-color: #423500;
    transform: rotatex(25%); }
  50% {
    background-color: #7f6500;
    transform: rotatex(50%); }
  75% {
    background-color: #bf9902; }
  100% {
    background-color: #ffcc00; } }

@media (max-width: 480px) {
  .digital {
    flex-wrap: wrap; }
  .digital div {
    margin: 10px;
    padding: 5px; } }

/* fomularios */
#titulo-reservaciones img {
  width: 200px;
  margin: 20px;
  padding: 10px; }

#titulo-contacto img {
  width: 200px;
  margin: 20px;
  padding: 10px; }

.selec_date {
  display: flex;
  justify-content: start; }

/* FOOTER */
footer {
  color: white;
  background-color: black !important;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px; }
  footer div img {
    width: 150px; }
  footer span {
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 1rem; }

.facebook-icon {
  background-image: url("/img/facebook.png"); }

.instagram-icon {
  background-image: url("/img/instagram.png"); }

.whatsapp-icon {
  background-image: url("/img/whatsapp.png"); }

.btn--facebook {
  background-color: #0d6efd; }

.btn--instagram {
  background-color: #942cf6; }

.btn--whatsapp {
  background-color: #2ac741; }
