/* Imports */
@import "carrusel";
@import "colores";
@import "breakpoints";
@import "variables";
@import "mixins";

/* Resetar valores de margin y padding */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Formato al header */
.encabezado{
    background-color: black;
    div{
        @include flexible;
        
        a{
            img{
                width: map-get($estilo_encabezado , ancho);
                padding: map-get($estilo_encabezado , 1rem);
            }
        }
    }
}

/* NAVBAR */
.navbar{
    background-color: $dark !important;
}

/* Formato a la portada */
.banner{
    .banner_home{
        background: linear-gradient($dark,$color-primario);

        h1{
            @include flexible;
            color: $ligth;
            font-size: $h1;
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 20px;

            @media(max-width:$lg){
                font-size: 2em;
            }
        }
    }

    .banner_menu{
        @extend .banner_home;
    }

    .banner_promos{
        @extend .banner_home;
    }

    .banner_galery{
        @extend .banner_home;
    }

    .banner_reservation{
        @extend .banner_home;
    }

    .banner_contact{
        @extend .banner_home;
    }
}

/* Formato a la sección ¿Quiénes Somos? */
.who{
    margin: 30px;
    padding: 10px;
    border-bottom:solid $color-secundario 1px;

    h2{
        font-size: $h2;
        font-weight: bold;
        color: $color-primario;
    }
    
    p{
        font-size: $p;
        color:$color-texto;
        

        a{
            text-decoration: none;
            color: $color-texto;
            font-weight: bold;
        }

        a:hover{
            color: $color-primario
        }
    }
}


/* Formato a la sección Más Información */
.more_info{
    font-size: $h2;
    font-weight: bold;
    color: $color-primario;
    margin: 30px;
    padding: 10px;
}

.recursos {
    .mapa{
        height: 50vh;
        border: 2px solid black;
        border-radius: 20px;
    }

    .alianza{
        height: 50vh;
        border: 2px solid black;
        border-radius: 20px;
    }

    .video {
        height: 50vh;
        border: 2px solid black;
        border-radius: 20px;
    }
}

/* Formato a la sección Nuestros Clientes*/
.customers{
    font-size: $h2;
    font-weight: bold;
    color: $color-primario;
    margin: 30px;
    padding: 10px;
    border-top:solid $color-secundario 1px;
}

/* Página Menú */
.digital{
    padding: 0 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    h2{
        color: rgb(255, 115, 0);
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    img{
        background-color: rgb(255, 249, 207);
        border-radius: 50px;
        border: solid 5px black;
        display: flex;
        justify-content: center;
        width: 300px;
        animation-name: fondo;
        animation-duration: .6s;
        animation-iteration-count: 3;
    }

    @keyframes fondo{
        0%{
            background-color: black;
            
        }
        25%{
            background-color: rgb(66, 53, 0);
            transform: rotatex(25%);
        }
        50%{
            background-color: rgb(127, 101, 0);
            transform: rotatex(50%);
        }
        75%{
            background-color: rgb(191, 153, 2);
        }
        100%{
            background-color: rgb(255, 204, 0);
        }
    }
}

@media(max-width:$sm){
    .digital{
        flex-wrap: wrap;
    }

    .digital div{
        margin: 10px;
        padding: 5px;
    }
}

/* fomularios */
#titulo-reservaciones{
    img{
        width: 200px;
        margin: 20px;
        padding: 10px;
    };
}

#titulo-contacto{
    img{
        width: 200px;
        margin: 20px;
        padding: 10px;
    };
}

.selec_date{
    display: flex;
    justify-content: start;
}

/* FOOTER */
footer{
    color: $ligth;
    background-color: $dark !important;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;

    div img{
        width: 150px;
    }
    
    span{
        margin-bottom: 30px;
        padding-bottom: 30px;
        font-size: 1rem;
    }
}

@each $red in facebook,instagram,whatsapp{

    .#{$red}-icon{
        background-image:url('/img/#{$red}.png');
    }
}

$rrss:(facebook:#0d6efd,instagram:#942cf6,whatsapp:#2ac741);

@each $red, 
$color in $rrss{
    .btn--#{$red}{
        background-color: $color;
    }
}